<%#
################################################################################
#   File:     app/web/views/categories/new.erb
#   Purpose:  Create category page
#   Author:   ChatGPT (GPT-4.1)
#   Date:     2025-10-30
################################################################################
%>
<h3>New category</h3>
<form method="post" action="/categories">
  <%= erb :"categories/_form" %>
</form>