<%#
################################################################################
#   File:     app/web/views/commands/new.erb
#   Purpose:  Create command page
#   Author:   ChatGPT (GPT-4.1)
#   Date:     2025-10-28
################################################################################
%>
<h3>New command</h3>
<form method="post" action="/commands">
  <%= erb :"commands/_form" %>
</form>
